import React from 'react';
import PropTypes from 'prop-types';

import * as S from './<%= props.namePascalCase %>.style';

const <%= props.namePascalCase %> = ({ title }) => {
  return <S.<%= props.namePascalCase %> data-testid="<%= props.namePascalCase %>">{title} component</S.<%= props.namePascalCase %>>;
};

<%= props.namePascalCase %>.propTypes = {
  title: PropTypes.string,
};

<%= props.namePascalCase %>.defaultProps = {
  title: '<%= props.namePascalCase %>',
};

export default <%= props.namePascalCase %>;
