import React from 'react';

import <%= props.namePascalCase %> from './<%= props.namePascalCase %>';

export default {
  title: '<%= props.targetPath %>',
  component: <%= props.namePascalCase %>,
};

const Template = args => <<%= props.namePascalCase %> {...args} />;

export const Default = Template.bind({});
Default.args = {};
