import React from 'react';
import { render, screen } from '@testing-library/react';
import '@testing-library/jest-dom/extend-expect';
import <%= props.namePascalCase %> from './<%= props.namePascalCase %>';

describe('Testing <%= props.namePascalCase %> Component', () => {
  it('should render correctly', () => {
    render(<<%= props.namePascalCase %> />);
    const component = screen.getByTestId('<%= props.namePascalCase %>');

    expect(component).toBeInTheDocument();
  });
});
